#main_header{
  display: block;
  width: 100%;
  margin: 0 auto;
}

#main_title{
  text-align: center;
  font-size: 50px;
}

#main_content{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

#indicators{
  position: relative;
  top: 0px;
  left: 0px;
  width: 60%;
  margin: 0 auto;
}

.flag{
  position: absolute;
  z-index: 3;
  right: -20px;

  width: 120px;
  height: 60px;

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;

  transition: 0.09s;
}

#availability{
  top: 40px;

  background-color: red;
}

#controls{
  top: 110px;
}

.flag:hover{
  right: -15px;
}

.flag:active{
  right: -10px;
}

#map_container{
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 5;

  display: block;
  width: 90%;
  margin: 0 auto;

  padding: 0px;

  background-color: white;
  box-shadow: 0px 0px 5px black;
}

#svgMap{
  width: 100%;
}

#antenna_icon{
  position: relative;
  top: 5px;
  right: -62px;

  width: 50px;
  height: 50px;
}

#controls_inner{
  top: 0px;
  right: 0px;
  z-index: 4;

  box-shadow: 0px 0px 0px black;

  background-color: transparent;
}

#remote{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;

  opacity: 0;

  width: 100%;
  height: 100%;

  background-color: white;
}

.touchSurface{
  position: absolute;
  z-index: 0;

  width: 50px;
  height: 50px;

  background-color: transparent;
}

.remoteControllers{
  position: absolute;
  bottom: 10%;

  width: 205px;
  height: 205px;
}

#remoteBottomContent{
  position: absolute;
  bottom: 0px;
  left: 50%;

  width: 400px;
  height: 100%;
}

#remoteLabels{
    position: absolute;
    width: 400px;
    height: 300px;
    bottom: 40%;
    left: 0px;
    margin: 0 auto;

    font-size: 20px;
    font-family: "Courier New";
}

#hostname_settings{
    display: inline-block;
    width: 280px;
    margin: 24px 0px 0px 120px;
}

#hostname_lable{
    margin-left: 90px;
}

#hostname_data{
    display: inline-block;
    text-align: center;
    width: 280px;
    box-shadow: 0px 0px 5px black;
}

#hostname_instructions{
    display: inline-block;
    text-align: center;
    width: 180px;
    margin: 5px 0px 0px 55px;

    font-size: 14px;
}

#svgGlobe{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 10px;
}

#button_functionality{
    width: 100%;
    margin-top: 50px;

    text-align: center;
}

#label_list{
    font-size: 14px;
    margin-left: 30px;
    list-style-type: none;
}

#speed_controller, #speed_controller:active, #speed_controller:hover, #speed_controller:focus{
    height: 50px;
    width: 100%;
    font-size: 15px;

    border: 0;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

#speed_controller_label{
    width: 100%;
    margin-top: 50px;

    text-align: center;
}

.main_label{
    font-size: 20px;
    font-weight: 800;
}

#button_home{
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 5%;
  left: 150px;
}

#svgHomeButton{
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 5%;
  left: 150px;

  /*background-color: orange;*/
}

#remoteRightContent{
  right: 30px;
}

#button_x{
  bottom: 144px;
  right: 81px;

  /*background-color: green;*/
}

#button_y{
  bottom: 81px;
  right: 143px;

  /*background-color: red;*/
}

#button_a{
  bottom: 81px;
  right: 18px;

  /*background-color: blue;*/
}

#button_b{
  bottom: 20px;
  right: 81px;

  /*background-color: yellow;*/
}

#remoteLeftContent{
  left: 30px;
}

#button_l{
  bottom: 78px;
  left: 26px;

  /*background-color: red;*/
}

#button_r{
  bottom: 78px;
  left: 130px;

  /*background-color: blue;*/
}

#button_u{
  bottom: 125px;
  left: 78px;

  /*background-color: green;*/
}

#button_d{
  bottom: 30px;
  left: 78px;

  /*background-color: yellow;*/
}
