<launch>
	<!-- MR HMI -->
	<group ns="MR_HMI">
		<node pkg="mr_hmi" name="HMI" type="hmiNode.py" output="screen">
			<param name="mr_hmi_status_sub" value="/mrHMI/status"/>
			<param name="mr_main_run_srv" value="/mrMain/run"/>
			<param name="mr_main_mode_sub" value="/mrMain/mode"/>
			<param name="deadman_pub" value="/fmSafe/deadman"/>
			<param name="cmd_pub" value="/fmCommand/cmd_vel"/>
			<param name="tipper_srv" value="/mrTipController/tip"/>
			<param name="currentNode_srv" value="/mrNavigationController/currentNode"/>
			<param name="performAction_srv" value="/mrNavigationController/performAction"/>
		</node>
	</group>
</launch>

