<launch>
	<!-- frobit parameters --> 
	<param name="diff_steer_wheel_distance" value="0.375"/>
	<param name="ticks_per_meter_left" value="677" />
	<param name="ticks_per_meter_right" value="677" />

	<group ns="fmControllers">
		<!-- Frobit interface node -->
		<node pkg="sdu_frobit_v2" name="frobit" type="frobit_interface_node.py" output="screen" >
			<param name="actuation_enable_sub" value="/fmSafe/actuation_enable" />
			<param name="cmd_vel_sub" value="/fmCommand/cmd_vel" />
			<param name="enc_left_pub" value="/fmInformation/encoder_left" />
			<param name="enc_right_pub" value="/fmInformation/encoder_right" />
			<param name="wheel_status_left_pub" value="/fmInformation/wheel_status_left" />
			<param name="wheel_status_right_pub" value="/fmInformation/wheel_status_right" />
			<param name="wheel_feedback_left_pub" value="/fmInformation/wheel_feedback_left" />
			<param name="wheel_feedback_right_pub" value="/fmInformation/wheel_feedback_right" />
			<param name="wheel_pid_left_pub" value="/fmInformation/wheel_pid_left" />
			<param name="wheel_pid_right_pub" value="/fmInformation/wheel_pid_right" />
			<param name="nmea_from_frobit_sub" value="/fmSignal/nmea_from_frobit" />	 
			<param name="nmea_to_frobit_pub" value="/fmSignal/nmea_to_frobit" />	 
			<param name="publish_wheel_status_rate" value="10" />
			<param name="publish_wheel_feedback_rate" value="10" />
			<param name="publish_wheel_pid_rate" value="10" />
			<param name="castor_front" value="true"/>
		        <param name="max_linear_acceleration" value="16.2"/>
         		<param name="max_angular_acceleration" value="16.0"/>
			<param name="wheel_drive_feed_forward" value="85" /> 
			<param name="wheel_drive_kp" value="5" /> 
			<param name="wheel_drive_ki" value="10" /> 
			<param name="wheel_drive_kd" value="5" /> 
			<param name="wheel_drive_max_integral_output" value="300" /> 
			<param name="wheel_turn_feed_forward" value="110" /> 
			<param name="wheel_turn_kp" value="10" /> 
			<param name="wheel_turn_ki" value="20" /> 
			<param name="wheel_turn_kd" value="3" /> 
			<param name="wheel_turn_max_integral_output" value="300" /> 
			<param name="supply_voltage_scale_factor" value="0.03747" /> 
			<param name="min_supply_voltage" value="12.1" /> 
			<param name="show_voltage_interval" value="300" /> 
		</node>
	</group>

	<group ns="fmSafety">
		<node pkg="basic_incident_handler" name="incident_handler" type="basic_incident_handler_node.py" output="screen">
    		<param name="deadman_enable" value="True" />
    		<param name="deadman_timeout" value="0.100" />
    		<param name="deadman_sub" value="/fmSafe/deadman" />
    		<param name="critical_fault_enable" value="False" />
    		<param name="critical_fault_timeout" value="0.100" />
    		<param name="critical_fault_sub" value="/fmSafe/critical_fault" />
			<param name="actuation_enable_pub" value="/fmSafe/actuation_enable" />
		</node>
	</group>

	<!-- frobit serial device and protocol interface -->
	<node pkg="serial_nmea" name="frobit_nmea" type="serial_nmea_node" respawn="true" output="screen">
		<param name="nmea_from_device_pub" value="/fmSignal/nmea_from_frobit"/>
		<param name="nmea_to_device_sub" value="/fmSignal/nmea_to_frobit"/>
		<param name="serial_device" value="/dev/frobit"/>
		<param name="serial_baudrate" value="57600"/>
		<param name="use_nmea_checksum" value="true"/>
        </node>

	<!-- HMI -->
	<group ns="MR_HMI">
		<node pkg="mr_hmi" name="HMI" type="hmiNode.py" output="screen">
			<param name="mr_hmi_status_sub" value="/mrHMI/status"/>
			<param name="mr_hmi_run_pub" value="/mrHMI/run"/>
			<param name="deadman_pub" value="/fmSafe/deadman"/>
			<param name="cmd_pub" value="/fmCommand/cmd_vel"/>
			<param name="tipper_srv" value="/mrTipController/tip"/>
		</node>			
	</group>

	<!-- Main launch file -->
<!--	<group ns="MR_Main">-->
		<node pkg="mr_main" name="Main" type="mr_main" output="screen">
			<param name="nav_perform_srv" value="/mrNavigationController/performAction"/> 
			<param name="nav_status_sub" value="/mrNavigationController/status"/> 
			<param name="nav_currentnode_sub" value="/mrNavigationController/currentNode"/> 	
			<param name="button_sub" value="/mrButton/run"/> 
			<param name="button_pub" value="/mrButton/status"/> 
			<param name="hmi_sub" value="/mrHMI/run"/> 
			<param name="hmi_pub" value="/mrHMI/status"/> 
			<param name="tipper_srv" value="/mrTipController/tip"/> 
			<param name="mes_pub" value="/mrMESClient/msgToServer"/> 
			<param name="mes_sub" value="/mrMESClient/msgFromServer"/> 
		</node>
	<!--</group>-->
</launch>

