<!-- Main launch file -->

<launch>
	<group ns="MR_Main">
		<node pkg="mr_main" name="Main" type="mr_main">
			<param name="nav_perform_srv" value="/mrNavigationController/performAction"/> 
			<param name="nav_status_sub" value="/mrNavigationController/status"/> 
			<param name="nav_currentnode_sub" value="/mrNavigationController/currentNode"/> 	
			<param name="button_sub" value="/mrButton/run"/> 
			<param name="button_pub" value="/mrButton/status"/> 
			<param name="hmi_sub" value="/mrHMI/run"/> 
			<param name="hmi_pub" value="/mrHMI/status"/> 
			<param name="tipper_srv" value="/mrTipController/tip"/> 
			<param name="mes_pub" value="/mrMESClient/msgToServer"/> 
			<param name="mes_sub" value="/mrMESClient/msgFromServer"/> 
		</node>
	</group>
</launch>
