<!-- Frobit serial launch file -->

<launch>

	<!-- serial communication with the IMU -->
	<node pkg="serial_string" name="imu_serial" type="serial_string_node" respawn="true" output="screen">
		<param name="publisher_topic" value="/fmData/imu_rx" />	 
		<param name="subscriber_topic" value="/fmData/imu_tx" />
		<param name="device" value="/dev/imu" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="10"/>
	</node> 	

</launch>

