<!-- qr test launch file -->

<launch>
    <node pkg="mr_camera" name="camera" type="mr_camera" output="screen">
    </node>

    <node pkg="mr_camera_processing" name="camera_processing" type="mr_camera_processing" output="screen">
		<param name="sub_image" value="/mr_camera/image" />
		<param name="pub_cross" value="/mr_camera_processing/cross" />
		<param name="pub_qr" value="/mr_camera_processing/qr" />
		<param name="pub_line" value="/mr_camera_processing/line" />
		<param name="pub_image" value="/mr_camera_processing/output_image" />
    </node>
	
</launch>

