<!-- GPS launch file -->

<launch>
	<group ns="MR_GPS">
		<node pkg="mr_gps" name="mr_gps" type="mr_gps">
			<param name="ServerIP" value="10.115.253.233"/>  	
			<param name="ServerPort" value="21212"/>  
			<param name="requestMsg" value="Get position 5"/>  
			<param name="stateSub" value="mrGPS/State"/>  
			<param name="posePub" value="mrGPS/Pose"/>  
		</node>
		<node pkg="mr_gps" name="GPSLocalisation" type="GPSLocalisation">
			<param name="odomTopic" value="/odom"/>  
			<param name="gpsPoseTopic" value="mrGPS/Pose"/>  
			<param name="filterResetTopic" value="initialpose"/>  
		</node>
	</group>
</launch>
